
.navbar {
	margin-bottom: 0;
	background-color: #a4ca39;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
}

p, li, .small{
	letter-spacing: 2px;
}

.red {
	color: red;
}

.androidGreen{
	background-color: #a4ca39;
}

.center{
	text-align: center;
}

.closeer{
	margin-top: 10px;
}

.big{
	font-size: large;
}